<section class="info-hotel">
  <div class="info-hotel-header">
    <h3>BIENVENIDO AL HOTEL RIU PLAZA PANAMA</h3>
    <a
      href="https://www.riu.com/es/hotel/panama/panama-city/hotel-riu-plaza-panama/Hotel_Riu_Plaza_Panama.jsp"
      target="_blank"
    >
      <button>DESCARGAR PDF</button>
    </a>
  </div>
  <div class="info-hotel-description">
    <p>
      Situado en pleno corazón del distrito financiero, el
      <span>Hotel Riu Plaza Panama</span> te ofrece una experiencia urbana única
      para disfrutar en tus vacaciones o en un viaje de negocios. Este hotel en
      <span>Ciudad de Panamá</span> cuenta con un gran número de instalaciones
      como piscina, gimnasio y salas de reuniones para que disfrutes de tu
      estancia con <span>RIU Hotels & Resorts</span>.
    </p>
    <p>
      El <span>Hotel Riu Plaza Panama</span> te ofrece más de
      <span>600 habitaciones</span> distribuidas en 34 plantas con todos los
      servicios imprescindibles para obtener el máximo confort. Podrás disfrutar
      de WiFi gratuito, TV satélite, mini nevera, sala de estar y máquina de
      café, entre otros servicios. Además, los clientes que se hospeden en
      habitaciones ejecutivas y suites, tendrán numerosos servicios gratuitos
      como área privada de check-in y check-out, sala de reuniones y servicio de
      conserje.
    </p>
    <p>
      La oferta gastronómica que encontrarás en este hotel de decoración
      vanguardista destaca por su calidad y variedad. En los restaurantes Arts y
      Tastes podrás degustar platos preparados por nuestros chefs para que vivas
      increíbles experiencias culinarias. Del mismo modo, en el Sushi Lounge
      Studio 50, nuestro lobby bar, y en el snack bar disfrutarás de todo tipo
      de refrescos y aperitivos.
    </p>
    <p>
      Nuestro hotel en Ciudad de Panamá dispone de 23 salas de conferencias con
      capacidad para más de 1.300 personas y equipadas con la mejor tecnología
      audiovisual para que tus eventos resulten un éxito. Si lo deseas, también
      podrás disfrutar del <span>centro de negocios</span> del Hotel Riu Plaza
      Panama que cuenta con conexión WiFi de alta velocidad, fotocopiadora,
      impresora, servicio de secretaría y ordenadores multimedia, entre otras
      facilidades.
    </p>
    <p>
      En los alrededores del <span>Hotel Riu Plaza Panama</span> encontrarás las
      mejores atracciones y centros comerciales de la ciudad, como el reconocido
      <span>Soho Mall</span> ubicado a 250 metros de nuestras instalaciones.
      Además, nuestro hotel se encuentra a tan solo 10 minutos de las estaciones
      de metro Iglesia del Carmen y Via Argentina para que puedas descubrir
      completamente la Ciudad de Panamá.
    </p>
    <p>
      Conoce <span>Panamá con RIU Hotels & Resorts</span> y disfruta de las
      mejores ofertas del Hotel Riu Plaza Panama. Para más información, puedes
      consultar nuestra
      <a
        href="https://www.riu.com/es/Paises/panama/panama-city/"
        target="_blank"
        >guía turística</a
      >.
    </p>
    <h4>Exclusivo para miembros de RIU Class</h4>
    <p>
      Todos los miembros del <span>programa de RIU Class</span> disponen de
      hasta un <span>10% de descuento extra</span> en todos los hoteles urbanos
      RIU Plaza, además de ofertas especiales y beneficios exclusivos. Si
      todavía no eres miembro, aprovecha la oportunidad y
      <a href="https://www.riu.com/es/riu-class/alta/alta.jsp" target="_blank"
        >regístrate ahora</a
      >
      de forma gratuita para empezar a disfrutar de todas las
      <span>ventajas</span>.
    </p>
  </div>
</section>
