<div class="links-footer-container">
  <div class="footer-link-list">
    <h4>ACERCA DE RIU</h4>
    <app-links-list
      [links]="linksFooter['about']"
      [componentName]="'footer-links'"
    ></app-links-list>
  </div>
  <div class="footer-link-list">
    <h4>SERVICIOS RIU</h4>
    <app-links-list
      [links]="linksFooter['services']"
      [componentName]="'footer-links'"
    ></app-links-list>
  </div>
  <div class="footer-link-list">
    <h4>RESERVAS</h4>
    <app-links-list
      [links]="linksFooter['booking']"
      [componentName]="'footer-links'"
    ></app-links-list>
  </div>
  <div class="footer-link-list">
    <h4>HOTELES Y DESTINOS</h4>
    <app-links-list
      [links]="linksFooter['hotels']"
      [componentName]="'footer-links'"
    ></app-links-list>
  </div>
</div>
