<div class="final-footer">
  <div class="copyright-footer">
    <img src="./logos/RiuHotel.png" alt="" />
    <div>
      <p>
        © Reservation Shop S.L.U - I-AV-0000886.1· NIF B35978311· 0 800 100
        4916
      </p>
      <div class="terms">
        <a href="">Declaración de Privacidad</a>
        <a href="">Términos y Condiciones</a>
        <a href="">Política de Cookies</a>
      </div>
    </div>
  </div>
  <div class="rrss-links-footer">
    <div>
      <a href="https://apps.apple.com/es/app/riu-hotels-resorts/id725472344">
        <img src="./icons/apple.png" alt="Apple Logo" />
      </a>
    </div>
    <div>
      <a href="https://play.google.com/store/apps/details?id=com.riu">
        <img src="./icons/android.png" alt="Android Logo" />
      </a>
    </div>
    <div>
      <a href="https://www.facebook.com/Riuhoteles">
        <img src="./icons/facebook.png" alt="Facebook Logo" />
      </a>
    </div>
    <div>
      <a href="https://instagram.com/riuhotels">
        <img src="./icons/instagram.png" alt="Instagram Logo" />
      </a>
    </div>
    <div>
      <a href="https://twitter.com/RiuHoteles">
        <img src="./icons/x.png" alt="X Logo" />
      </a>
    </div>
    <div>
      <a href="https://www.flickr.com/photos/riuhotels/">
        <img src="./icons/flickr.png" alt="Flickr Logo" />
      </a>
    </div>
    <div>
      <a href="https://www.youtube.com/c/riuhotels">
        <img src="./icons/youtube.png" alt="Youtube Logo" />
      </a>
    </div>
    <div>
      <a href="https://pinterest.com/riuhotels">
        <img src="./icons/pinterest.png" alt="Pinterest Logo" />
      </a>
    </div>
  </div>
</div>
