* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: none;
    color: inherit;
}

:root {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

/* BACKGROUND COLOR VARIABLES */
    --main-bgcolor: #f5f5f5;
    --secondary-bgcolor: #FFFFFF;
    --tertiary-bgcolor: #000000;
    --grey1-bgcolor: #2C3235;
    --grey1demytransp-bgcolor: #2c323580;
    --main-demytranspcolor: #f5f5f580;
    --grey2-bgcolor: #292E31;
    --grey3-demytranspbgcolor: hsla(200, 4%, 14%, 0.9);
    --grey3-bgcolor: #222425;
    --highlight-purple-color: #765A99;
    --boxshadow-color: rgba(0, 0, 0, 0.4);

/* COLOR VARIABLES */
    --main-color: #222425;
    --secondary-color: #f5f5f5;
}

body {
    height: 100%;
    background-color: var(--main-bgcolor);
    position: relative;
}

button {
    font-family: "Raleway", sans-serif;
}